<div class="container text-center">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>
  <div class="text-center">
    <form action="answer" method="get">
      <input type="text" name="question">
      <input type="submit" value="Ask">
    </form>
  </div>
</div>